# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.env
.venv/
venv/
env/
.envrc
.direnv/
.env

# Build artifacts
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/

# Test/coverage
.pytest_cache/
.coverage*
htmlcov/
.tox/
.nox/
.mypy_cache/

# Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project runtime outputs
reports/
temp/

# FastAPI/Uvicorn
*.sqlite3

# Node/npm (if any frontend is added later)
node_modules/
